<h1>Login</h1>

  <% if flash[:errors] %>
    <%= flash[:errors] %>
  <% end %>

<%= form_for :session, url: "/login" do |f| %>
  <p><%= f.label :username %>
  <%= f.text_field :username %></p>

  <p><%= f.label :password %>
  <%= f.password_field :password %></p>
  
  <p><%= f.submit "Sign In" %></p>
<% end %>

