<h1>Sign Up!</h1>
 
<%= form_for @user do |f| %>
 <%= f.label :username %>
 <%= f.text_field :username %><p>
 <%= f.label :password %>
 <%= f.password_field :password %><p>

 <p>
 
 <p><%= f.label "What would you least like to be called?"%></p>
 <%= f.select :answer_one, ["Ordinary", "Ignorant", "Cowardly", "Selfish"] %><p>
 <%= f.label "If you could make a potion that would guarantee you one thing, what would it be?"%><p>
 <%= f.select :answer_two, @answers_to_q_two %><p>
 <%= f.label "You and two friends need to cross a bridge guarded by a river troll who insists on fighting one of you before he will let all of you pass, What do you do?"%><p>
 <%= f.select :answer_three, @answers_to_q_three %><p>
 <%= f.label "Which road  tempts you most?"%><p>
 <%= f.select :answer_four, @answers_to_q_four %><p>
 <%= f.label "A Muggle confronts you and says that they are sure you are a witch or wizard, what do you do?"%><p>
 <%= f.select :answer_five, @answers_to_q_five %><p>
  <% if flash[:errors] %>
   <ol class="messages">
     <% flash[:errors].each do |error| %>
       <li>
         <%= error %>
       </li>
     <% end %>
   </ol>
 <% end %>
  <p><%= f.submit "Sort me, please!" %>
<% end %>