<h1>New Turn!</h1>

<% if @game.turns.count > 0 %>
  <%current_energy = @game.turns.last.user_bludger_outcome + 10 %>
<% else %>
  <% current_energy = 10%>
<% end %>

 User Energy: <%= current_energy %><br>

<%= form_for([@game, @turn]) do |f|%>
  <%= f.label "Quaffle energy"%>
  <%= f.select :user_quaffle_allocation, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]%>

  <%= f.label "Bludger Energy"%>
  <%= f.select :user_bludger_allocation, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]%>
  
  <%= f.label "Snitch Energy"%>
  <%= f.select :user_snitch_allocation, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]%> 

  <%= f.hidden_field :game_id, :value => @game.id %> 

  <%= f.submit %>
<% end %>