<h1>Start a new Quidditch Match!</h1>
<p>
<%= form_for([@current_user.house, @game]) do |f| %>
  <%= f.hidden_field :user_house_id, :value => @current_user.house_id %>

  <%= f.label "Pick your Opponent:" %>
  <%= f.collection_select :computer_house_id, House.all.where.not(id: @current_user.house_id), :id, :name %><br>
  <br>
  <%= f.submit "Start Playing!"%>
<% end %></p>