
<h1>Start a new Quidditch Match! <div><iframe src="https://giphy.com/embed/qx1qESH9700Rq" width="70%" height="70%" style="position:relative" frameBorder="0" class="giphy-embed" ></iframe></div></h1>
<p>Quidditch Rules:</p>
<p> Now, Quidditch is easy enough to understand, even if it’s not too easy to play.</p> 
<p>You get 10 points every time you throw a quaffle through one of your opponent's hoops. Follow me?</p>
<p>Now, you've also got be careful of the bludgers as they rocket around trying to knock players off their brooms. If you get hit by one, you will lose 2 energy points for your next turn. Though, if you manage to hit one at your opponent, you'll add 5 points to your score and take 2 from theirs!<p>
<p>Finally, there's the snitch. You might want to try hard to catch the snitch as whichever Seeker catches the Snitch wins their team an extra 150 points (so they nearly always win the match).</p>
<p>Just a warning: a game of Quidditch only ends when the Snitch is caught, so it can go on for ages – I think the record is three months, they had to keep bringing on substitutes so the players could get some sleep.<p>

<p>Think you’ve got all that? Great! Good luck!</p>

<p>

<p>
<%= form_for([@current_user.house, @game]) do |f| %>
  <%= f.hidden_field :user_house_id, :value => @current_user.house_id %>

  <%= f.label "Pick your Opponent:" %>
  <%= f.collection_select :computer_house_id, House.all.where.not(id: @current_user.house_id), :id, :name %><br>
  <br>
  <%= f.submit "Start Playing!"%>
<% end %></p>