<h1>Game over!</h1>

<p><%= flash[:snitch] %></p>

<p> User Score: <%= @user_score %></p>
Computer Score: <%= @computer_score %>
<p>
Winner: <%= @winner %>
</p>

<%= link_to 'Back to the Common Room', house_path(@current_user.house) %>