<!DOCTYPE html>
<html>
  <head>
    <title>QuidditchApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<% if House.find_by(id: @current_user.house_id).name == "Ravenclaw" %>
  <body class="Ravenclaw">
<% elsif House.find_by(id: @current_user.house_id).name == "Slytherin"%>
  <body class="Slytherin">
<% elsif House.find_by(id: @current_user.house_id).name == "Gryffindor"%>
  <body class="Gryffindor">  
<% elsif House.find_by(id: @current_user.house_id).name == "Hufflepuff"%>
  <body class="Hufflepuff">
<% else %>
  <body class="Hogwarts">
<% end%>


  <nav class="topnav">

    <% if @current_user %>
        <%= link_to 'Logout', logout_path, method: "delete" %>
        <%= link_to 'Common Room', house_path(@current_user.house_id) %>
        <%= link_to "Hi, #{@current_user.username.capitalize}!", @current_user %>
      <% else %>
        <div>Welcome to the Quidditch App!</div>
        <%= link_to 'Sign up!', signup_path %> 
        <%= link_to 'Login', login_path %>
    <% end %>
    
    
  </nav>
    <%= yield %>
  </body>
</html>

