<!DOCTYPE html>
<html>
  <head>
    <title>QuidditchApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav>

    <% if @current_user %>
      <h3>
        Hi <%= link_to "#{@current_user.username.capitalize}", @current_user %>! | <%= link_to 'Common Room', house_path(@current_user.house_id) %> | <%= link_to 'Logout', logout_path, method: "delete" %>
      </h3>
      <% else %>
        Welcome to the Quidditch App! | <%= link_to 'Sign up!', signup_path %> | <%= link_to 'Login', login_path %>
    <% end %>
    
  </nav>
    <%= yield %>
  </body>
</html>
